<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <bean id="Golf3Empty" class="com.zhanbolat.carspring.cars.impl.Golf3" scope="prototype">
    </bean>

    <bean id="Golf3" class="com.zhanbolat.carspring.cars.impl.Golf3" scope="prototype"
        parent="superCar"></bean>

    <bean id="superCar" abstract="true">
        <constructor-arg ref="AEE"/>
        <constructor-arg ref="020"/>
    </bean>

    <bean id="AEE" class="com.zhanbolat.carspring.engines.impl.AEE"></bean>
    <bean id="4B" class="com.zhanbolat.carspring.engines.impl._4B"></bean>

    <bean id="020" class="com.zhanbolat.carspring.transmissions.impl.M_020"></bean>
    <bean id="01M" class="com.zhanbolat.carspring.transmissions.impl.A_01M"></bean>

    <bean class="com.zhanbolat.carspring.MyBeanPostProcessor" />
</beans>